.popular__phone__models {
    margin-bottom: 80px;
    &-button {
        display: flex;
        justify-content: center;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: stretch;
        margin-bottom: 50px;
    }
    & .h4__title {
        text-align: center;
        margin-bottom: 50px;
    }
}

.popular__phone-set {
    display: flex;
    flex-direction: column;
    &-title {
        text-transform: uppercase;
        font-size: 18px;
        margin: 20px 0;
        padding-left: 6px;
    }
    &-item {
        min-height: 60px;
        max-width: 420px;
        margin-bottom: 30px;
        & img {
            max-width: 45px;
            max-height: 45px;
        }
    }
    &-name {
        color: #314e9e;
        font-weight: bold;
        margin-top: 12px;
        font-size: 14px;
        padding-left: 12px;
    }
}







.phone__models__page {
    padding-top: 50px;
    background: white;
    border-radius: 40px;
}